.BoardGame {
  position: relative;
  z-index: 0;
}

.Modal-Background {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.Hide-Modal {
  display: none;
}

.Modal-Container {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 400px;
  background: #f5f5ed;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: -1px 1px 20px 0px rgba(0,0,0,0.75);
  margin: 20px;
}

.Modal-Container button {
  min-width: 30%;
  cursor: pointer;
  margin-right: 0.25em;
  margin-top: 20px;
  padding: 	0.938em;
  border: none;
  border-radius: 30px;
  background-color: #10AC84;
  color: #fefefe;
  font-size: 1rem;
}